In [3]:
def minus(num1, num2):
    if num2 > num1:
        num1, num2 = num2, num1
    result = num1 - num2
    return result

num1 = int(input("첫번째 숫자 :"))
num2 = int(input("두번째 숫자 :"))

result = minus(num1, num2)
print(result)                        ###두 수의 차를 구하는 함수를 정의하시오.

첫번째 숫자 :1
두번째 숫자 :3
2

In [6]:
def s_replace(str_test):
    return str_test.replace("ㅋ","")

s = input("문자열 입력 :")
result = s_replace(s)
print(result)                              ### 문자열을 입력 받아 'ㅋ'을 제거하고 return하는 함수를 정의하시오.

문자열 입력 :ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅇㅋ
ㅇ

In [9]:
def calc(a,b,c):
    if c == '+':
        result = a + b
    else:
        result = a - b
        
    return result

num1 = int(input("첫 번째 정수 :"))
num2 = int(input("두 번째 정수 :"))
agg = input("연산자 입력(+,-) :")

result = calc(num1, num2, agg)
print(result)                                  ### 두 수를 입력 받아서 원하는 연산을 수행하는 함수를 정의하시오.

첫 번째 정수 :1
두 번째 정수 :2
연산자 입력(+,-) :-
-1

In [11]:
def calc(a,b,c):
    if c == '+':
        return a + b
    else:
        return a - b


num1 = int(input("첫 번째 정수 :"))
num2 = int(input("두 번째 정수 :"))
agg = input("연산자 입력(+,-) :")

result = calc(num1, num2, agg)              ###### (동일한 문제, 다른 풀이)
print(result)                                  ### 두 수를 입력 받아서 원하는 연산을 수행하는 함수를 정의하시오.

첫 번째 정수 :1
두 번째 정수 :3
연산자 입력(+,-) :-
-2

In [52]:

def divisor(a):
    for i in range(1, a+1):
        if a % i == 0:
            print(i, end = " ")
        

                                    ### 약수를 구하는 함수를 정의하시오.

In [53]:
divisor(10)

1 2 5 10

In [54]:
divisor(32)

1 2 4 8 16 32

In [55]:
divisor(100)

1 2 4 5 10 20 25 50 100

In [1]:
list = [2, 5, 7, 9, 10]

print(list[0])
print(list[3])
print(list[2]+list[-1])        ### 리스트 인덱싱 : 인덱스에 위치한 값 반환

2
9
17

In [4]:
list2 = [1, 2, 3, ['a', 'b', 'c']]     ### 변수 temp에 ['a', 'b', 'c'] 를 저장하고 출력하시오.

In [5]:
temp = list2[3]

In [6]:
temp

['a', 'b', 'c']

In [7]:
list2[3][1]                           ### list2에서 문자 'b' 만 뽑아서 출력하시오.

'b'

In [12]:
list3 = [0, 1, 2, 3, 4]
list3[1:3]       ### 리스트 슬라이싱(start인덱스부터 end인덱스 바로 전까지 값 반환)

[1, 2]

In [15]:
list3[:2]

[0, 1]

In [13]:
list3[3:]

[3, 4]

In [14]:
list3[3:4]

[3]

In [16]:
list4 = [1, 2, 3]
list5 = [3, 4, 5, 6]

list4 + list5                ### 리스트 더하기

[1, 2, 3, 3, 4, 5, 6]

In [17]:
list5 = [0, 1, 2, 3, 4]
list5.append(5)
list5                ### 리스트 값 추가(맨뒤) : 리스트.append(값)

[0, 1, 2, 3, 4, 5]

In [18]:
list5.append(6)
list5

[0, 1, 2, 3, 4, 5, 6]

In [24]:
list5 = [0, 1, 2, 3, 4]
list5.insert(1,5)
list5               ### 리스트 값 추가(지정) : 리스트.insert(인덱스, 값)

[0, 5, 1, 2, 3, 4]

In [25]:
list5.insert(5, 6)
list5

[0, 5, 1, 2, 3, 6, 4]

In [26]:
list6 = [0, 1, 2, 3, 4]
list6                       ### 리스트 값 수정

[0, 1, 2, 3, 4]

In [27]:
print("수정 전 :", list6[1])
list6[1] = 7
print("수정 후 :", list6[1])

수정 전 : 1
수정 후 : 7

In [28]:
list6

[0, 7, 2, 3, 4]

In [29]:
list7 = [0, 1, 2, 3, 4, 5]
del list7[1]
list7                     ### 리스트 값 삭제 : del 키워드 사용

[0, 2, 3, 4, 5]

In [30]:
list7 = [0, 1, 2, 3, 4, 5]
del list7[1:5]
list7

[0, 5]

In [31]:
list7 = ['a', 'b', 'c', 'd', 'e']
list7.remove('b')
list7                    ### 리스트 값 삭제 : 리스트.remove(값)

['a', 'c', 'd', 'e']

In [32]:
list8 = [9, 77, 13, 51, 100, 3]
list8                      ### 리스트 오름차순 정렬 : 리스트.sort()

[9, 77, 13, 51, 100, 3]

In [33]:
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [34]:
list9 = [9, 77, 13, 51, 100, 3]
list9                  ### 리스트 순서 거꾸로 뒤집기 : 리스트.reverse()

[9, 77, 13, 51, 100, 3]

In [35]:
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [36]:
list11 = ['a', 'b', 'c', 'd', 'e', 'f']
list11.index('c')              ### 리스트 값 위치 반환 : 리스트.index()

2

In [40]:
list12 = ['a', 'b', 'c', 'd', 'e', 'f']
list12.pop()    ### 리스트 마지막 값을 반환 후 값 제거 : 리스트.pop()

'f'

In [41]:
list12

['a', 'b', 'c', 'd', 'e']

In [42]:
list13 = [0, 1, 2]
len(list13)                ### 리스트의 값 개수 반환 : len(리스트)

3

In [43]:
list14 = ['a', 'b', 'c', 'd', 'e', 'f']
len(list14)

6

In [1]:
tuple1 = (0, 1, 2, 3, ('a', 'b', 'c'), 5)
tuple1[2]                    ### 튜플 인덱싱 : 튜플[인덱스]

2

In [2]:
tuple1[4]

('a', 'b', 'c')

In [3]:
tuple1 = (0, 1, 2, 3, ('a', 'b', 'c'), 5)
tuple1[1:3]

(1, 2)

In [4]:
tuple1[3:]

(3, ('a', 'b', 'c'), 5)

In [5]:
tuple1 = (0, 1, 2, 3, ('a', 'b', 'c'), 5)
len(tuple1)           
                    ### 튜플 값의 개수 확인 : len(튜플)
    
                 ### 튜플은 요소 변경 불가

6

In [6]:
tuple2 = ('a', 'b', 'c', 'd', 'e', 'f')
len(tuple2)

6

In [8]:
### 조건문에서 사용되는 in, not in
str1 = "파이썬 최고"
"파이썬" in str1
                        ### x in 문자열 / x not in 문자열

True

In [9]:
list1 = [77, 38, 10]
33 not in list1        ### x in 리스트 / x not in 리스트
                       ### x in 튜플 / x not in 튜플

True

In [10]:
### 딕셔너리 타입은 불변한 key와 변화하는(불변도 가능) value로 맵핑된 순서 없는 집합

##### 딕셔너리명 = {key : value, key : value, ...}


###예시
### a = {}
### b = {"name" : "MH"}
### c = {1 : 5, 2 : 3}

In [19]:
dic1 = {"name":"MH", "age":20, "phone":"010-1234-1234"}
dic1

{'name': 'MH', 'age': 20, 'phone': '010-1234-1234'}

In [20]:
print(type(dic1))            ### 데이터 타입 알아보기

<class 'dict'>

In [21]:
dic1["birth"] = "03/27"
dic1                         ### 딕셔너리 값 추가

{'name': 'MH', 'age': 20, 'phone': '010-1234-1234', 'birth': '03/27'}

In [22]:
dic_test = {"key":"value", "노래제목":"아무노래"}
dic_test

{'key': 'value', '노래제목': '아무노래'}

In [23]:
dic_test["가수"] = "지코"
dic_test["날짜"] = "2020.01.13"

dic_test
                   ### 딕셔너리 추가 : 딕셔너리명[key]=value

{'key': 'value', '노래제목': '아무노래', '가수': '지코', '날짜': '2020.01.13'}

In [24]:
dic2 = {"name":"MH", "age":20, "phone":"010-1234-1234"}

del dic2["age"]
dic2
                    ### 딕셔너리 값 삭제 : del 딕셔너리명[key]

{'name': 'MH', 'phone': '010-1234-1234'}

In [25]:
dic2["name"]       ### 딕셔너리 값 가져오기 : 딕셔너리명[key]
                  ## 이 방법 >> 없는 값 가져오면 에러남

'MH'

In [26]:
dic2.get("name")   ### 딕셔너리 값 가져오기 : 딕셔너리명.get(key)
                  ## 이 방법 >> 없는 값 가져오면 None이라고 뜸

'MH'

In [27]:
dic3 = {"name":"MH", "age":20, "phone":"010-1234-1234"}

dic3.keys()          ### 딕셔너리 key만 가져오기(value도 마찬가지)

dict_keys(['name', 'age', 'phone'])

In [28]:
list(dic3.keys())
                     ### 딕셔너리 key만 리스트처럼 가져오기

['name', 'age', 'phone']

In [29]:
dic3.values()

dict_values(['MH', 20, '010-1234-1234'])

In [30]:
list(dic3.values())

['MH', 20, '010-1234-1234']

In [31]:
for key in dic3.keys():
    print(key)

name
age
phone

In [32]:
for value in dic3.values():
    print(value)

MH
20
010-1234-1234

In [33]:
for key, value in dic3.items():
    print(key, value)               ## items는 다 가져옴

name MH
age 20
phone 010-1234-1234

In [34]:
"name" in dic3           ### key in 딕셔너리명 : in은 딕셔너리 키에 한해서 동작한다.

True

In [35]:
"성별" in dic3

False

In [36]:
"MH" in dic3

False